<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <connectionStrings>
        <add name="DeliveryMarket.Properties.Settings.MarketConnStr"
            connectionString="SERVER=localhost;DATABASE=market;UID=root;PASSWORD=1597;"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>